@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$primary: #2b81da;
$secondary: #8B949E;
$tertiary: #f4f4f4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: $tertiary;
}

// .nav {
//   padding: 20px;
//   max-width: 800px;
//   margin: 0 auto 60px;
// }

// .nav__main {
//   font-size: 16px;
//   line-height: 20px;
//   color: $primary;
//   font-weight: 700;
//   text-decoration: none;
// }

// .hover-default {
//   transition: 0.3s ease-in-out opacity;
//   &:hover {
//     opacity: 0.7;
//   }
// }

.content {
  max-width: 600px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  column-gap: 20px;
  row-gap: 80px;
}

.content__segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__heading {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  color: $primary;
}

.content__links {
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: 4px;
  }
}

.content__link {
  text-decoration: none;
  color: $secondary;
  display: inline-block;
  padding-bottom: 6px;
  background-image: linear-gradient($secondary 0 0);
  background-position: 0 100%;
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition:
  background-size 0.3s,
  background-position 0s 0.3s;

  &:hover {
    background-position: 100% 100%;
    background-size: 100% 1px;
  }
}

// used for ira --------------------------------

// general

.reveal {
  position: fixed;
  width: 200px;
  height: 150px;
  top: 0;
  left: 0;
  pointer-events: none;
}

.reveal__inner,
.reveal__image {
  width: 100%;
  height: 100%;
  position: relative;
}

