@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

$light-grey: #ccc0c0;
$dark-grey: #282828;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 5vh;
  font-family: 'Source Code Pro', monospace;
  background-color: $light-grey;
}

.content {
  max-width: 600px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 20px;
}

.content__segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__heading {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: $dark-grey;
}

.content__link {
  text-decoration: none;
  color: $dark-grey;
  display: inline-block;
}

$ira-height: 180px;
$ira-width: 250px;

// fade animation

.ira-fade {
  margin-bottom: 30px;
}

.ira-fade__holder {
  height: $ira-height;
  width: $ira-width;
  position: fixed;
  pointer-events: none;
  display: none;
  opacity: 0;
}

.ira-fade__image-wrap {
  height: $ira-height;
  width: $ira-width;
  overflow: hidden;
}

.ira-fade__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// unfold animation

.ira-unfold {
  margin-bottom: 30px;
}

.ira-unfold__holder {
  height: $ira-height;
  width: $ira-width;
  position: fixed;
  pointer-events: none;
  display: none;
  overflow: hidden;
  width: 0;
}

.ira-unfold__image-wrap {
  height: $ira-height;
  width: $ira-width;
}

.ira-unfold__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}